.menu-1{text-transform:uppercase;margin-left:7%;font-weight:bold}
.menu{text-transform:uppercase;margin-left:5%;font-weight:bold}
.menu-bar{display:none;padding-right:8%;}
.profile-icon{height:30px;}
.logo-2,.side-bar,.close{display:none;}
.color{color:black;text-decoration: none;}
.color:hover{color:black;text-decoration: none;}
.profile-icon::after{content:"hello user";height:10%;width:10%;background-color: firebrick;}
.pre-profile-1:hover{background-color:rgba(212, 206, 206, 0.993)}
.menu-bar-1,.close{display:none;}
.pre-side-bar{list-style:none;text-transform: uppercase;font-weight: 600;font-size:15px;display:none;}
.menu-bar-2{display: none;}
.side-bar{display:none;}
html,body{overflow-x: hidden;}
.sale-img{transform: translateY(10%);padding-left:5%}
.sift-girl{padding-left:5%;}
.special{padding-left:3%}
.girl-image{width:100%;height:250px;border-radius:20px;border:5px solid grey;overflow: hidden;}
.image-lable{font-size:15px;font-weight:bold;text-transform: uppercase;}
.transparent{background-image:url('desktop.jpg');background-size:cover;background-attachment:fixed;}
a:hover{text-decoration: none;}
#change-color{z-index:2;position:fixed;transition: 0.2s linear;}
.change{position:fixed;z-index:2;opacity:0.9;background-color:rgba(128, 128, 128, 0.596);}
.font{font-size:22px;margin-left:2%}
.font-1{font-size:22px}
.icons-1,.icons,.icons-2,.icons-3{border:1px solid transparent;padding:2% 2.2%;margin-left:2%;border-radius:50px;background-color:rgb(49, 48, 48);}
.icons-2{padding:2% 3%;}
.icons-3{padding:2% 2.5%;}
.icons{padding:2% 2.8%;}
.icon-head{text-align: end;}
.logo-sift{margin-top:-7%;margin-bottom:-6%;}
.sift-couple{padding-left:5%}
@media screen and (max-width:1199px){
.box,.hide-girl,.hide-lady{display:none;}
}
@media screen and (max-width:991px){
.hide-lady-1,.hide-banner,.hide-popular{display:none;} 
.hide-slider{display: block;}
}
@media screen and (max-width:810px){
    .menu-1,.menu,.profile-icon,.profile{display:none;}
    .menu-bar{display: block;font-size:40px;margin-top:-3%;}
    .side-bar{height:81.1vh;width:30%;background-color:rgba(0, 0, 0, 0.137);display: block;overflow: hidden;margin-left:-5%;display:none;}
    .pre-side-bar{display: block;}
    .close{display: block;font-size:40px;}
    .log-in{margin-left:2%;margin-top:-3%;height:25px;}
}
@media screen and (max-width:768px){
 .pre-side-bar{font-size:15px;} 
 .footer{text-align: center;}
 .sift-girl{padding-left:0%;}
 .hide-kids-dress{display:block!important;}
}
@media screen and (max-width:767px){
    .hide-kids-dress{display:none!important;}
}
@media screen and (max-width:630px){
    .side-bar{width:40%}
    .menu-bar{display:none;}
    .menu-bar-1{display:block;font-size:40px;margin-top:-3%;padding-right:8%;}
}
@media screen and (max-width:575px){
    .popular-sift-down{padding-top:10%}
    .icon-head{text-align: left;}
}
@media screen and (width:500px){
    .sift-girl,.sale-img{padding-left:3%}
    .special{margin-left:9%}
    .logo-sift{margin-top:-20%;margin-bottom:-15%;}
}
@media screen and (max-width:499px){
 .side-bar{width:80vw;display:none;}
 .menu-bar-1{display:none;}
 .menu-bar-2{display:block;font-size:40px;margin-top:-3%;padding-right:8%;}
}
@media screen and (max-width:425px){
    .logo-1{display: none;}
    .logo-2{display:block;}
}
@media (width:768px) and (max-height:636px){
    .side-bar{height:81.7vh;}
}
@media (width:425px) and (max-height:636px){
    .side-bar{height:84vh;margin-left:-6%;}
    .sale-img{margin-left:-13%}
}
@media (max-width:375px) and (max-height:636px){
    .side-bar{height:83.9vh;margin-left:-7%;}
    .sale-img{margin-left:-25%}
}
@media (width:320px) and (max-height:636px){
    .side-bar{height:83.9vh;margin-left:-8%}
    .sale-img{width:100vw;margin-left:-10%}
    .sift-girl{margin-left:-13%}

}